

<div class="contenedor">
<h1>¿Cuándo plantar?</h1>
<p>Me han preguntado muchas veces, “¿cuándo se debe plantar?” La mejor época para plantar es en primavera o en otoño, 
    cuando no hay riesgo de heladas y la temperatura no es sofocante.
     En estas fechas las plantas se estresan menos por las temperaturas extremas. 
     La evapotranspiración de las plantas no es excesiva y están en pleno desarrollo, 
     por lo que sus raíces agarrarán más fácilmente. Pero aunque ésta sea la situación ideal, 
     no quiere decir que en plantas con cepellón (que no vienen con la raíz desnuda) no se pueda 
     intentar durante todo el año. El riesgo, en verano sobre todo, será mayor y tendrás que estar más 
     pendiente de las necesidades de agua de la planta pero si no puedes esperar unos meses, “qué le vamos a hacer”
</p>

<h2>¿Que necesitamos?</h2>
<p>No hace falta nada del otro mundo para trasplantar una planta de pequeño o mediano tamaño al suelo de un jardín: 
    unas cuantas herramientas, unos sacos de tierra y quizás algo de ayuda si tenemos que mover el peso de algún árbol joven.</p>
</div>